<div class = "main">
    This is my introduction Page

    <div>
        <h2> Welcome to the Habit tracker</h2>
        
    </div>
    <div>
        <a href = "/MainPage/Daily">Click here to proceed</a>
    </div>
    
</div>