.list {
    overflow: hidden;
    width: 2000px;
  }
  
  .Inner {
    display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  justify-content: left;
  /* for vertical aligning */
  align-items: left;
  }
  
  .inn_data {
    width : 200px
  }